.hero,
.footer{
    background-color: #1f2937;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UPPER PAGE; HERO */
.hero{
    height:400px;
    padding-left: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;

}

.hero2{
    display: flex;
    /* flex: 1; */
    justify-content: space-between ;
    height: 100px;
}

.hero-logo{
    height: 100px;
    width: 150px;
    flex: 8;
}

.hero-head{
    /* justify-content: space-between; */
    display: flex;
    gap: 50px;
    /* height: 40px; */
    font-size: larger;
}

.content-1{
    display: flex;
    height: 230px;
    align-items: center;
    /* margin-right: 500px; */
    justify-content: space-around;
}
.content{
    display: block;
    height: 100px;
}

.content h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.content p{
    font-size: 25px;
}

#main-photo{
    height: 200px;
    width: 500px;
}
.sign-up{
    background-color: #3882f6;
    color: white;
    height: 30px;
    width: 90px;
    margin-top: 30px;
}



/* MIDDLE PAGE */
.information{
    background-color: white;
}

#information-header{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

/* QUOTE */
.quote{
    background-color: #ced0d2;
    font-style: italic;
    font-size: 50px;
    /* padding: 100px; */
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    text-align: center;
}

/* CALL TO ACTION */
.call{
    background-color: #3882f6;
    display: flex;
    margin: 60px;
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;

}

.call p{
    flex: 1;
    color: white;
    padding-left: 100px;
}

.call #bold{
    font-weight: bold;
}


 .call .sign-up{
    border-width: 2px;
    border-color: white;
}

/* FOOTER */
.footer{
    height: 50px;
    text-align: center;
    color: whitesmoke;
    padding-top: 25px;
}
